Welcome to nb_gallery_template's documentation!
===============================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:

   {% for notebook in notebooks_paths -%}
        {{notebook}}
   {% endfor %}


Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
